# Dependencies
node_modules/
*/node_modules/

# Production builds
frontend/dist/
frontend/.next/
backend/dist/

# Environment variables
.env
.env.local
.env.production
*/.env
*/.env.local

# Foundry

# Compiler files
contracts/cache/
contracts/out/
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Docs
contracts/docs/
docs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
